body {
    background-image: url(UMDGlobe.gif);
    background-color: azure;
    font-family: "Trirong", sans-serif;
}

p {
    background-color: rgb(205, 147, 147);
}

table {
    color: white;
    background-color: brown;
}